# Core & Compatibility
setuptools

# Data Processing & Core Math
numpy<2.0.0
pandas
scipy
pyarrow        

# Machine Learning & Clustering
scikit-learn
scikit-learn-extra  
xgboost             

# Data Visualization
matplotlib
seaborn
plotly

# Model Serialization & MLOps
joblib

# Dashboard App
streamlit